<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">#}
        <title>{% block title %}Welcome to the news{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="container">
            <div class="row">
                {{ form_start(form, {
                    'attr': {
                        'novalidate': 'novalidate',
                        'class': 'col-lg-5' 
                        }
                    })
                }}

                    {{ form_row(form.auteur) }}
                    {{ form_row(form.titre) }}
                    {{ form_row(form.contenu) }}
                    {{ form_row(form.dateAjout) }}
                    {{ form_row(form.dateModif) }}

                    <button type="submit" class="btn btn-primary">Créer</button>
                {{ form_end(form) }}
            </div>
        </div>{#{{ form(form) }}#}{% endblock %}
    </body>
</html>
